USE [iVotingSystem]
GO
/****** Object:  Table [dbo].[tbl_VotingSchedule]    Script Date: 04/27/2020 02:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_VotingSchedule](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DATE_START] [nvarchar](10) NOT NULL,
	[TIME_START] [nvarchar](12) NOT NULL,
	[DATE_END] [nvarchar](10) NOT NULL,
	[TIME_END] [nvarchar](12) NOT NULL,
	[STATUS] [nchar](10) NULL,
 CONSTRAINT [PK_tbl_VotingSchedule] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_VotingSchedule] ON
INSERT [dbo].[tbl_VotingSchedule] ([ID], [DATE_START], [TIME_START], [DATE_END], [TIME_END], [STATUS]) VALUES (1, N'2020-04-01', N'7:30:00 AM', N'2020-04-30', N'3:30:00 PM', N'OPEN      ')
SET IDENTITY_INSERT [dbo].[tbl_VotingSchedule] OFF
/****** Object:  Table [dbo].[tbl_VotersKey]    Script Date: 04/27/2020 02:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_VotersKey](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[VOTERS_ID] [nvarchar](50) NOT NULL,
	[GENERATED_KEY] [nvarchar](50) NOT NULL,
	[DATE_ADDED] [datetime] NULL,
	[STATUS] [nchar](10) NULL,
	[ELECTION_CODE] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_VotersKey] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UserActivity]    Script Date: 04/27/2020 02:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_UserActivity](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_ID] [nvarchar](15) NOT NULL,
	[ACTIVITY] [varchar](300) NOT NULL,
	[ADDED_DATE] [datetime] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_User]    Script Date: 04/27/2020 02:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_User](
	[USERNAME] [nvarchar](50) NOT NULL,
	[FULLNAME] [nvarchar](50) NULL,
	[PASSWORD] [nvarchar](50) NULL,
	[ROLE] [nvarchar](50) NULL,
	[CONTACT_NO] [nvarchar](15) NULL,
	[ADDRESS] [nvarchar](250) NULL,
	[ADDED_BY] [nvarchar](50) NULL,
	[DATE_ADDED] [datetime] NULL,
	[STATUS] [nvarchar](10) NULL,
 CONSTRAINT [PK_tbl_User] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_User] ([USERNAME], [FULLNAME], [PASSWORD], [ROLE], [CONTACT_NO], [ADDRESS], [ADDED_BY], [DATE_ADDED], [STATUS]) VALUES (N'berna', N'RJ', N'james', N'User', N'09292929', N'ANTIPOLO', N'Rolly', CAST(0x0000AB4700000000 AS DateTime), N'ACTIVE')
INSERT [dbo].[tbl_User] ([USERNAME], [FULLNAME], [PASSWORD], [ROLE], [CONTACT_NO], [ADDRESS], [ADDED_BY], [DATE_ADDED], [STATUS]) VALUES (N'jordan', N'JORDAN', N'password', N'Administrator', N'023949', N'SISISSSS', N'Rolly', CAST(0x0000AB5400000000 AS DateTime), N'ACTIVE')
INSERT [dbo].[tbl_User] ([USERNAME], [FULLNAME], [PASSWORD], [ROLE], [CONTACT_NO], [ADDRESS], [ADDED_BY], [DATE_ADDED], [STATUS]) VALUES (N'sycopons', N'ECHO', N'rolimer', N'Administrator', N'09773317655', N'SURIGAO CITY', N'Rolly', CAST(0x0000AB4600000000 AS DateTime), N'ACTIVE')
/****** Object:  Table [dbo].[tbl_Students]    Script Date: 04/27/2020 02:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Students](
	[STUDENT_ID] [nvarchar](50) NOT NULL,
	[FIRST_NAME] [nvarchar](50) NULL,
	[MIDDLE_NAME] [nvarchar](50) NULL,
	[LAST_NAME] [nvarchar](50) NULL,
	[DOB] [datetime] NULL,
	[AGE] [int] NULL,
	[COURSE] [nvarchar](50) NULL,
	[SECTION] [nvarchar](50) NULL,
	[CONTACT_NO] [nvarchar](50) NULL,
	[ADDRESS] [nvarchar](50) NULL,
	[DATE_ADDED] [nvarchar](50) NULL,
	[MODIFIED_DATE] [nvarchar](50) NULL,
	[STATUS] [nvarchar](10) NULL,
 CONSTRAINT [PK_tbl_Students_1] PRIMARY KEY CLUSTERED 
(
	[STUDENT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_Students] ([STUDENT_ID], [FIRST_NAME], [MIDDLE_NAME], [LAST_NAME], [DOB], [AGE], [COURSE], [SECTION], [CONTACT_NO], [ADDRESS], [DATE_ADDED], [MODIFIED_DATE], [STATUS]) VALUES (N'STUD-0001', N'ROLIMER', N'E', N'PONO', CAST(0x0000382900000000 AS DateTime), 80, N'BSIT', N'1', N'09773317615', N'SURIGAO CITY', N'2020-01-13', N'2020-04-27', N'Active')
INSERT [dbo].[tbl_Students] ([STUDENT_ID], [FIRST_NAME], [MIDDLE_NAME], [LAST_NAME], [DOB], [AGE], [COURSE], [SECTION], [CONTACT_NO], [ADDRESS], [DATE_ADDED], [MODIFIED_DATE], [STATUS]) VALUES (N'STUD-0002', N'RJEN', N'E', N'PONO', CAST(0x000088CA00000000 AS DateTime), 24, N'BSIT', N'2', N'09773317612', N'SURIGAO CITY', N'2020-01-13', N'2020-04-27', N'Active')
INSERT [dbo].[tbl_Students] ([STUDENT_ID], [FIRST_NAME], [MIDDLE_NAME], [LAST_NAME], [DOB], [AGE], [COURSE], [SECTION], [CONTACT_NO], [ADDRESS], [DATE_ADDED], [MODIFIED_DATE], [STATUS]) VALUES (N'STUD-0003', N'RIO', N'E', N'ECLS', CAST(0x000084E900000000 AS DateTime), 27, N'BCSC', N'3', N'09773317611', N'SURIGAO CITY', N'2020-01-13', N'2020-04-27', N'Active')
/****** Object:  Table [dbo].[tbl_Result]    Script Date: 04/27/2020 02:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Result](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CANDIDATE_ID] [nvarchar](50) NULL,
	[FIRST_NAME] [nvarchar](50) NULL,
	[MIDDLE_NAME] [nvarchar](50) NULL,
	[LAST_NAME] [nvarchar](50) NULL,
	[COURSE] [nvarchar](50) NULL,
	[POSITION] [nvarchar](50) NULL,
	[PARTY] [nvarchar](50) NULL,
	[VOTERS_ID] [nvarchar](50) NULL,
	[DATE_ADDED] [nvarchar](10) NULL,
	[ELECTION_CODE] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_VotedCandidates] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Position]    Script Date: 04/27/2020 02:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Position](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[POSITION] [nvarchar](20) NOT NULL,
	[STATUS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_tbl_Position_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[POSITION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_Position] ON
INSERT [dbo].[tbl_Position] ([ID], [POSITION], [STATUS]) VALUES (1, N'PRESIDENT', N'ACTIVE')
INSERT [dbo].[tbl_Position] ([ID], [POSITION], [STATUS]) VALUES (2, N'SECRETARY', N'ACTIVE')
INSERT [dbo].[tbl_Position] ([ID], [POSITION], [STATUS]) VALUES (3, N'VICE-PRESIDENT', N'ACTIVE')
SET IDENTITY_INSERT [dbo].[tbl_Position] OFF
/****** Object:  Table [dbo].[tbl_Party]    Script Date: 04/27/2020 02:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Party](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PARTY] [nvarchar](50) NOT NULL,
	[STATUS] [nchar](10) NULL,
 CONSTRAINT [PK_tbl_Party_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[PARTY] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_Party] ON
INSERT [dbo].[tbl_Party] ([ID], [PARTY], [STATUS]) VALUES (1, N'LAKAS', N'ACTIVE    ')
INSERT [dbo].[tbl_Party] ([ID], [PARTY], [STATUS]) VALUES (2, N'LIBERAL', N'ACTIVE    ')
INSERT [dbo].[tbl_Party] ([ID], [PARTY], [STATUS]) VALUES (4, N'INDEPENDENT', N'ACTIVE    ')
SET IDENTITY_INSERT [dbo].[tbl_Party] OFF
/****** Object:  Table [dbo].[tbl_ElectionCode]    Script Date: 04/27/2020 02:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ElectionCode](
	[CODE] [nvarchar](50) NOT NULL,
	[STATUS] [nvarchar](50) NULL,
	[DATE_ADDED] [datetime] NULL,
	[ADDED_BY] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_ElectionCode] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Candidates]    Script Date: 04/27/2020 02:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Candidates](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CANDIDATE_ID] [nvarchar](50) NOT NULL,
	[PROFILE_PIC] [varchar](max) NULL,
	[POSITION_ID] [nvarchar](20) NULL,
	[PARTY_ID] [nvarchar](50) NULL,
	[ELECTION_CODE] [nvarchar](50) NULL,
	[ADDED_DATE] [nvarchar](10) NULL,
	[ADDED_BY] [nvarchar](15) NULL,
	[MODIFIED_DATE] [nvarchar](10) NULL,
	[MODIFIED_BY] [nvarchar](15) NULL,
	[STATUS] [nvarchar](10) NULL,
 CONSTRAINT [PK_tbl_Candidates] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[SP_GETRESULT]    Script Date: 04/27/2020 02:35:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GETRESULT]

@DATE_FROM		NVARCHAR(10),
@DATE_TO		NVARCHAR(10),
@ELECTION_CODE	NVARCHAR(15)
AS

DECLARE  @VOTE_RESULT TABLE
(
	CANDIDATE_ID		NVARCHAR(50),
	FIRST_NAME			NVARCHAR(50),
	MIDDLE_NAME			NVARCHAR(50),
	LAST_NAME			NVARCHAR(50),
	POSITION			NVARCHAR(50),
	PARTY				NVARCHAR(50),
	VOTE_COUNT			INT,
	COURSE				NVARCHAR(50),
	ELECTION_CODE		NVARCHAR(50)
)

DECLARE  @POSITION_TABLE TABLE
(
POSITION NVARCHAR(50),
RECORD_COUNTER INT IDENTITY(1,1)
)

DECLARE @MIN INT,
		@MAX INT,	
		@POSITION NVARCHAR(50)
		
		
INSERT INTO @POSITION_TABLE
SELECT DISTINCT POSITION FROM TBL_POSITION


SELECT		@MIN = MIN(RECORD_COUNTER),
			@MAX = MAX(RECORD_COUNTER)
			FROM @POSITION_TABLE
			
			
WHILE @MIN <= @MAX
	BEGIN
	
	
	SELECT @POSITION = POSITION FROM @POSITION_TABLE WHERE RECORD_COUNTER = @MIN
	
	
	INSERT INTO @VOTE_RESULT
	SELECT TOP 1 CANDIDATE_ID ,FIRST_NAME, MIDDLE_NAME ,LAST_NAME , POSITION, PARTY, COUNT(*) VOTE_COUNT,COURSE,ELECTION_CODE FROM TBL_RESULT WHERE POSITION = @POSITION 
	AND ELECTION_CODE = @ELECTION_CODE
	GROUP BY CANDIDATE_ID,FIRST_NAME,MIDDLE_NAME,LAST_NAME,POSITION ,PARTY,COURSE,ELECTION_CODE
	ORDER BY VOTE_COUNT DESC
	
	
	SET @MIN = @MIN + 1;
	END
	
	SELECT CANDIDATE_ID, FIRST_NAME + ' ' + MIDDLE_NAME + ' ' + LAST_NAME AS FULLNAME, POSITION, PARTY, VOTE_COUNT, COURSE, ELECTION_CODE FROM @VOTE_RESULT
GO
/****** Object:  Default [DF_tbl_Candidates_STATUS]    Script Date: 04/27/2020 02:35:45 ******/
ALTER TABLE [dbo].[tbl_Candidates] ADD  CONSTRAINT [DF_tbl_Candidates_STATUS]  DEFAULT (N'ACTIVE') FOR [STATUS]
GO
/****** Object:  Default [DF_tbl_ElectionCode_STATUS]    Script Date: 04/27/2020 02:35:45 ******/
ALTER TABLE [dbo].[tbl_ElectionCode] ADD  CONSTRAINT [DF_tbl_ElectionCode_STATUS]  DEFAULT (N'ACTIVE') FOR [STATUS]
GO
/****** Object:  Default [DF_tbl_Party_STATUS]    Script Date: 04/27/2020 02:35:45 ******/
ALTER TABLE [dbo].[tbl_Party] ADD  CONSTRAINT [DF_tbl_Party_STATUS]  DEFAULT (N'ACTIVE') FOR [STATUS]
GO
/****** Object:  Default [DF_tbl_Position_STATUS]    Script Date: 04/27/2020 02:35:45 ******/
ALTER TABLE [dbo].[tbl_Position] ADD  CONSTRAINT [DF_tbl_Position_STATUS]  DEFAULT (N'ACTIVE') FOR [STATUS]
GO
/****** Object:  Default [DF_tbl_Students_STATUS]    Script Date: 04/27/2020 02:35:45 ******/
ALTER TABLE [dbo].[tbl_Students] ADD  CONSTRAINT [DF_tbl_Students_STATUS]  DEFAULT (N'Active') FOR [STATUS]
GO
/****** Object:  Default [DF_tbl_User_STATUS]    Script Date: 04/27/2020 02:35:45 ******/
ALTER TABLE [dbo].[tbl_User] ADD  CONSTRAINT [DF_tbl_User_STATUS]  DEFAULT (N'ACTIVE') FOR [STATUS]
GO
/****** Object:  Default [DF_tbl_VotersKey_STATUS]    Script Date: 04/27/2020 02:35:45 ******/
ALTER TABLE [dbo].[tbl_VotersKey] ADD  CONSTRAINT [DF_tbl_VotersKey_STATUS]  DEFAULT (N'ACTIVE') FOR [STATUS]
GO
/****** Object:  Default [DF_tbl_VotingSchedule_STATUS]    Script Date: 04/27/2020 02:35:45 ******/
ALTER TABLE [dbo].[tbl_VotingSchedule] ADD  CONSTRAINT [DF_tbl_VotingSchedule_STATUS]  DEFAULT (N'OPEN') FOR [STATUS]
GO
