<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.3,Profile=Client" />
    </startup>
  <appSettings>
    <!--<add key="connectionString" value="Provider=SQLOLEDB;Data Source=.\SQLSERVERr2;UID=sa;PWD=1nterbl0cks;Integrated Security=SSPI;Initial Catalog=iVoting"/>-->
    <add key="connectionString" value="Data Source=DESKTOP-BSCTAT9\SQLSERVERR2;Initial Catalog=iVotingSystem;Integrated Security=True"/>
    <add key="connectionString2" value="Data Source=DESKTOP-BSCTAT9\SQLSERVERR2;Initial Catalog=master;Integrated Security=True"/>
  </appSettings>
</configuration>